* {
  margin: 0;
  padding: 0;
  background-image: url("purple.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: middle;
}
form {
  width: 500px;
  margin-top: 260px;
  margin-left: 440px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding-right: 0px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 3px;
}
.div1{
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  border-color:black;
  padding-left: 15px;
}
.div2{
  border: 7px;
  text-align: center;
  border-color: black;

}
.btn{
  text-align: center;
  border-radius: 4px;
  border: 7px;

}
