* {
  margin: 0;
  padding: 0;
  background-image: url("dawn.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: middle;
}
form {
  width: 400px;
  margin-top: 260px;
  margin-left: 450px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  box-sizing: border-box;
  box-shadow: 3px;
  background-color: transparent;
}
.div1{
  border-radius: 1px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.div2{
  border: 1px;
  text-align: center;
  padding-bottom: 10px;
}
.btn{
  font-size: 20px;
  border-radius: 1px;
  padding-left: 7px;
  padding-right: 7px;
}
